/* Transição suave para o modo noturno */
body {
    transition: background-color 0.3s, color 0.3s;
}

/* Classes customizadas do Modo Noturno */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}
.dark-mode .card {
    background-color: #1e1e1e;
    border-color: #333;
    color: #e0e0e0;
}
.dark-mode .list-group-item {
    background-color: #1e1e1e;
    color: #e0e0e0;
    border-color: #333;
}

/* Estilo da foto de perfil arredondada */
.profile-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border: 4px solid #0d6efd;
}
